<header class="bg-dark text-white">
  <div class="container">
    <div
      class="
        d-flex
        flex-wrap
        align-items-center
        justify-content-center justify-content-lg-start
      "
    >
      <ul class="nav col-lg-auto me-lg-auto m-2 justify-content-center">
        <li>
          <a
            routerLink="/"
            class="nav-link px-2 text-secondary"
            routerLinkActive="text-white"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </a>
        </li>
        <li>
          <a
            routerLink="/about"
            class="nav-link px-2 text-secondary"
            routerLinkActive="text-white"
            >About</a
          >
        </li>
        <li>
          <a
            routerLink="/books"
            class="nav-link px-2 text-secondary"
            routerLinkActive="text-white"
            >Books</a
          >
        </li>
      </ul>
      <app-book-search></app-book-search>
      <div class="text-end mt-2 mt-2 mb-2">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
    </div>
  </div>
</header>
