<div class="container-flex m-3">
    <h1>Welcome Angular Bookapp</h1>
    <p>
        You can sign in from "Validation" window
    </p>
    <p>
        You can list, add, delete books from "Book" window
    </p>
    <p>
        You can search books from "Search" input on "Book" window
    </p>
    <hr />
    <div class="container-fluid">
        <ul>
            <h4>The following items may be added in the future</h4>
            <li>Book update</li>
            <li>Sign Up</li>
            <li>Add new user</li>
            <li>JWT Token</li>
            <li>add dotenv</li>
        </ul>
    </div>
    <hr />
    <br />
    <br />
    <br />
</div>