<div *ngIf="bookService.dialog.show" class="alert alert-primary" role="alert">
  {{bookService.dialog.message}}
</div>
<div *ngIf="bookService.dialog.spin" class="d-flex justify-content-center m-5">
  <div class="spinner-border text-info" role="status"></div>
  <strong class="sr-only text-info p-1">&nbsp; Loading...</strong>
</div>
<div *ngIf="!bookService.dialog.spin" class="flex m-3 p-3">
  <app-book-modal></app-book-modal>
  <div class="container">
    <div class="row row-cols-3">
      <div *ngFor="let book of bookService.books">
        <app-book-item [book]="book"></app-book-item>
      </div>
    </div>
  </div>
</div>