<div class="container">
  <div *ngIf="book.phone" class="card" style="width: 18rem">
    <h6 class="card-title m-1 p-1 text-center">
      *** API ***
    </h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">API Name: {{ book.name || "-" }}</li>
      <li class="list-group-item">API address: {{ book.address || "-" }}</li>
      <li class="list-group-item">Api email: {{ book.email || "-" }}</li>
      <li class="list-group-item">Api id: {{ book.id }}</li>
      <li class="list-group-item">Api phone: {{ book.phone }}</li>
      <li class="list-group-item">Api title: {{ book.title }}</li>
      <button type="button" class="btn btn-danger" (click)="bookService.deleteBook(book)">
        Delete
      </button>
    </ul>
  </div>
</div>